%h1 Calendar

= form_tag calendar_index_path, :method => 'get' do
  %p
    = date_field_tag :first_day_of_week, params[:first_day_of_week]
    = submit_tag "Go", :name => nil
- unless params[:first_day_of_week].nil?
  %table.calendar
    %tr
      - for day in 0..6
        %th= current_date + day.days
    %tr
      - for day in 0..6
        %td= free_periods(current_date + day.days)
    %tr
      - for day in 0..6
        %td= tasks(current_date + day.days)