- model_class = Project
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:contractor_id) + ':'
  %br
  = link_to Contractor.find(@project.contractor_id).name, contractor_path(@project.contractor_id)
%p
  %strong= model_class.human_attribute_name(:team_id) + ':'
  %br
  = link_to Team.find(@project.team_id).name, team_path(@project.team_id)
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @project.name
%p
  %strong= model_class.human_attribute_name(:contact_person_id) + ':'
  %br
  = link_to ContactPerson.find(@project.contact_person_id).full_name, contact_person_path(@project.contact_person_id)

%p
  %strong= model_class.human_attribute_name(:attachments) + ':'
  %br
  %ul
    - for attachment in @project.attachments
      %li
        = attachment.description
        \- #{link_to("Download", attachment.file_url)}

%p
  %strong= model_class.human_attribute_name(:related_projects) + ':'
  %br
  %ul
    - for child in @project.children
      %li
        = link_to child.name, project_path(child.id)

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), projects_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_project_path(@project), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), project_path(@project), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
