- model_class = Project
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:contractor_id) + ':'
  %br
  = link_to Contractor.find(@project.contractor_id).name, contractor_path(@project.contractor_id)
%p
  %strong= model_class.human_attribute_name(:team_id) + ':'
  %br
  = link_to Team.find(@project.team_id).name, team_path(@project.team_id)
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @project.name
%p
  %strong= model_class.human_attribute_name(:contact_person_id) + ':'
  %br
  = link_to ContactPerson.find(@project.contact_person_id).full_name, contact_person_path(@project.contact_person_id)

%p
  %strong= model_class.human_attribute_name(:attachments) + ':'
  %br
  - if @project.attachments.count > 0
    %ul
      - for attachment in @project.attachments
        %li
          = attachment.description
          \- #{link_to("Download", attachment.file_url)}
  - else
    %span There are no attachments

%p
  %strong Stats:
  %br
  - if @project.children.count > 0
    %table{border: '1'}
      %tr
        %th Hours planned
        %th Hours real
        %th Cost
      - for project in @project.children
        %tr
          %td= Task.where(project: @project).sum(:hours_planned)
          %td= Task.where(project: @project).sum(:hours_real)
          %td= Task.where(project: @project).sum(:cost)
  - else
    %span There are no tasks in this project


%p
  %strong= model_class.human_attribute_name(:related_projects) + ':'
  %br
  - if @project.children.count > 0
    %table{border: '1'}
      %tr
        %th Name
        %th Hours planned
        %th Hours real
        %th Cost
      - for project in @project.children
        %tr
          %td= link_to project.name, project_path(project.id)
          %td= Task.where(project: project).sum(:hours_planned)
          %td= Task.where(project: project).sum(:hours_real)
          %td= Task.where(project: project).sum(:cost)
  - else
    %span There are no related projects

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), projects_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_project_path(@project), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), project_path(@project), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
